<% layout("layouts/boilerplate.ejs") %>

<body>
    <br>
    <div class="row">
        <div class="col-8 offset-3">
            <h2>Listing Details</h2>
        </div>
  
    <div class="card col-6 offset-3">
        <img src="<%= listing.image %>"  class="card-img-top show-img " alt="listing_image"><br>
        <div class="card-body">
            <div class="card-text">
                <p><b><%= listing.title %></b></p>
                <p><%= listing.description %></p>
                <%= listing.price ? listing.price.toLocaleString("en-IN") : "Price not available" %> /night          
                <p><%= listing.location %></p>
                <p><%= listing.country %></p>
            </div>
        </div>
    </div>
</div>
<div class="btns">
    <a href="/listings/<%=listing._id%>/edit" class="btn edit-btn col-1 offset-3">Edit</a>

    <form method="post" action="/listings/<%= listing._id %>?_method=DELETE">
        <button class="btn btn-dark offset-5 ">Delete</button>
    </form>
</div>
<br>
</body>
